/*
 * Borders */

.border {

    // lines
    border: 1px solid #ccc;

    &-top {
        &-none {
            border-top: none;
        }
    }
    &-bottom {
        border-bottom: 1px solid #ccc !important;
        &-light {
            border-bottom: 1px solid #ddd !important;
        }
        &-none {
            border-top: none;
        }
    }

    // corners
    &-radius {
        &-5 { border-radius: 5px; }
        &-10 { border-radius: 10px; }
        &-top {
            &-5 {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            &-7 {
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
            }
        }
        &-bottom {
            &-5 {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            &-7 {
                border-bottom-left-radius: 7px;
                border-bottom-right-radius: 7px;
            }
        }
    }
}
