// Backgrounds
.bg {
    &-blue { background-color: $blue !important; }
    &-blue-lt { background-color: lighten( $light-blue, 43% ) !important; }
    &-blue-dk { background-color: $dark-blue !important; }
    &-gray { background-color: $gray !important; }
    &-gray-dk { background-color: $dark-gray !important; }
    &-green { background-color: $green !important; }
    &-green-trans { background-color: rgba( $green, .60 ) !important; }
    &-light-blue { background-color: lighten( $blue, 52% ) !important; }
    &-purple { background-color: $purple !important; }
    &-tan { background-color: $tan !important; }
    &-tan-lt { background-color: $light-tan !important; }
    &-teal { background-color: $teal !important; }
    &-teal-trans { background-color: rgba( $teal, .60 ) !important; }
    &-white { background-color: #fff !important; }
}

// Text
.text {
    &-blue { color: $blue; }
    &-brown { color: $brown; }
    &-lightest-blue { color: $lightest-blue; }
    &-purple { color: $purple; }
    &-teal { color: $teal; }
    &-white { color: #fff; }
}
