/*
 * Positioning */

// Top
.top {
    &-padding {
        &-5 { padding-top: 5px !important; }
        &-10 { padding-top: 10px !important; }
        &-15 { padding-top: 15px !important; }
        &-20 { padding-top: 20px !important; }
        &-25 { padding-top: 25px !important; }
        &-30 { padding-top: 30px !important; }
        &-35 { padding-top: 35px !important; }
        &-40 { padding-top: 40px !important; }
        &-50 { padding-top: 50px !important; }
        &-60 { padding-top: 60px !important; }
        &-70 { padding-top: 70px !important; }
        &-75 { padding-top: 75px !important; }
        &-80 { padding-top: 80px !important; }
        &-90 { padding-top: 90px !important; }
        &-100 { padding-top: 100px !important; }
    }
    &-margin {
        &-3 { margin-top: 3px !important; }
        &-5 { margin-top: 5px !important; }
        &-10 { margin-top: 10px !important; }
        &-15 { margin-top: 15px !important; }
        &-20 { margin-top: 20px !important; }
        &-25 { margin-top: 25px !important; }
        &-30 { margin-top: 30px !important; }
        &-35 { margin-top: 35px !important; }
        &-40 { margin-top: 40px !important; }
        &-50 { margin-top: 50px !important; }
        &-60 { margin-top: 60px !important; }
        &-70 { margin-top: 70px !important; }
        &-75 { margin-top: 75px !important; }
        &-80 { margin-top: 80px !important; }
        &-90 { margin-top: 90px !important; }
        &-100 { margin-top: 100px !important; }
    }
    &-1 { top: 1px; }
    &-2 { top: 2px; }
    &-3 { top: 3px; }
    &-4 { top: 4px; }
    &-5 { top: 5px; }
    &-up-1 { top: -1px; }
    &-up-2 { top: -2px; }
    &-up-3 { top: -3px; }
    &-up-4 { top: -4px; }
    &-up-5 { top: -5px; }
}

// Right
.right {
    &-padding {
        &-5 { padding-right: 5px !important; }
        &-10 { padding-right: 10px !important; }
        &-15 { padding-right: 15px !important; }
        &-20 { padding-right: 20px !important; }
        &-25 { padding-right: 25px !important; }
        &-30 { padding-right: 30px !important; }
        &-35 { padding-right: 35px !important; }
        &-40 { padding-right: 40px !important; }
        &-50 { padding-right: 50px !important; }
        &-60 { padding-right: 60px !important; }
        &-70 { padding-right: 70px !important; }
        &-75 { padding-right: 75px !important; }
        &-80 { padding-right: 80px !important; }
        &-90 { padding-right: 90px !important; }
        &-100 { padding-right: 100px !important; }
    }
    &-margin {
        &-5 { margin-right: 5px !important; }
        &-10 { margin-right: 10px !important; }
        &-15 { margin-right: 15px !important; }
        &-20 { margin-right: 20px !important; }
        &-25 { margin-right: 25px !important; }
        &-30 { margin-right: 30px !important; }
        &-35 { margin-right: 35px !important; }
        &-40 { margin-right: 40px !important; }
        &-50 { margin-right: 50px !important; }
        &-60 { margin-right: 60px !important; }
        &-70 { margin-right: 70px !important; }
        &-75 { margin-right: 75px !important; }
        &-80 { margin-right: 80px !important; }
        &-90 { margin-right: 90px !important; }
        &-100 { margin-right: 100px !important; }

    }
    &-1 { right: 1px; }
    &-2 { right: 2px; }
    &-3 { right: 3px; }
    &-4 { right: 4px; }
    &-5 { right: 5px; }
}

// Bottom
.bottom {
    &-padding {
        &-5 { padding-bottom: 5px !important; }
        &-10 { padding-bottom: 10px !important; }
        &-15 { padding-bottom: 15px !important; }
        &-20 { padding-bottom: 20px !important; }
        &-25 { padding-bottom: 25px !important; }
        &-30 { padding-bottom: 30px !important; }
        &-35 { padding-bottom: 35px !important; }
        &-40 { padding-bottom: 40px !important; }
        &-50 { padding-bottom: 50px !important; }
        &-60 { padding-bottom: 60px !important; }
        &-70 { padding-bottom: 70px !important; }
        &-75 { padding-bottom: 75px !important; }
        &-80 { padding-bottom: 80px !important; }
        &-90 { padding-bottom: 90px !important; }
        &-100 { padding-bottom: 100px !important; }
    }
    &-margin {
        &-3 { margin-bottom: 3px !important; }
        &-5 { margin-bottom: 5px !important; }
        &-10 { margin-bottom: 10px !important; }
        &-15 { margin-bottom: 15px !important; }
        &-20 { margin-bottom: 20px !important; }
        &-25 { margin-bottom: 25px !important; }
        &-30 { margin-bottom: 30px !important; }
        &-35 { margin-bottom: 35px !important; }
        &-40 { margin-bottom: 40px !important; }
        &-50 { margin-bottom: 50px !important; }
        &-60 { margin-bottom: 60px !important; }
        &-70 { margin-bottom: 70px !important; }
        &-75 { margin-bottom: 75px !important; }
        &-80 { margin-bottom: 80px !important; }
        &-90 { margin-bottom: 90px !important; }
        &-100 { margin-bottom: 100px !important; }
    }
    &-1 { bottom: 1px; }
    &-2 { bottom: 2px; }
    &-3 { bottom: 3px; }
    &-4 { bottom: 4px; }
    &-5 { bottom: 5px; }
}

// Left
.left {
    &-padding {
        &-5 { padding-left: 5px !important; }
        &-10 { padding-left: 10px !important; }
        &-15 { padding-left: 15px !important; }
        &-20 { padding-left: 20px !important; }
        &-25 { padding-left: 25px !important; }
        &-30 { padding-left: 30px !important; }
        &-35 { padding-left: 35px !important; }
        &-40 { padding-left: 40px !important; }
        &-50 { padding-left: 50px !important; }
        &-60 { padding-left: 60px !important; }
        &-70 { padding-left: 70px !important; }
        &-75 { padding-left: 75px !important; }
        &-80 { padding-left: 80px !important; }
        &-90 { padding-left: 90px !important; }
        &-100 { padding-left: 100px !important; }
    }
    &-margin {
        &-5 { margin-left: 5px !important; }
        &-10 { margin-left: 10px !important; }
        &-15 { margin-left: 15px !important; }
        &-20 { margin-left: 20px !important; }
        &-25 { margin-left: 25px !important; }
        &-30 { margin-left: 30px !important; }
        &-35 { margin-left: 35px !important; }
        &-40 { margin-left: 40px !important; }
        &-50 { margin-left: 50px !important; }
        &-60 { margin-left: 60px !important; }
        &-70 { margin-left: 70px !important; }
        &-75 { margin-left: 75px !important; }
        &-80 { margin-left: 80px !important; }
        &-90 { margin-left: 90px !important; }
        &-100 { margin-left: 100px !important; }
        &-100 { margin-left: 100px !important; }
        &-125 { margin-left: 125px !important; }
        &-150 { margin-left: 150px !important; }
    }
    &-1 { left: 1px; }
    &-2 { left: 2px; }
    &-3 { left: 3px; }
    &-4 { left: 4px; }
    &-5 { left: 5px; }
}

// No margin/padding
.no {
    &-top {
        &-padding { padding-top: 0 !important; }
        &-margin { margin-top: 0 !important; }
    }
    &-right {
        &-padding { padding-right: 0 !important; }
        &-margin { margin-right: 0 !important; }
    }
    &-bottom {
        &-padding { padding-bottom: 0 !important; }
        &-margin { margin-bottom: 0 !important; }
    }
    &-bottom {
        &-padding { padding-bottom: 0 !important; }
        &-margin { margin-bottom: 0 !important; }
    }
    &-padding {
        padding: 0 !important;
    }
    &-margin {
        margin: 0 !important;
    }
}

// Padding specials
.padding {
    &-5 { padding: 5px !important; }
    &-10 {
        padding: 10px !important;
        &-15 {
            padding: 10px 15px !important;
        }
    }
    &-15 { padding: 15px !important; }
    &-20 { padding: 20px !important; }
    &-25 { padding: 25px !important; }
    &-30 { padding: 30px !important; }
}

// Relative position movements
.pull {
    &-up {
        &-1 { position: relative; top: -1px; }
        &-2 { position: relative; top: -2px; }
        &-3 { position: relative; top: -3px; }
        &-4 { position: relative; top: -4px; }
        &-5 { position: relative; top: -5px; }
    }
}

// Global positions
.float {
    &-left { float: left; }
    &-right { float: right; }
    &-none { float: none; }
}
.clear {
    clear: both;
    &-left { clear: left; }
    &-right { clear: right; }
}
.relative-position {
    position: relative !important;
}
.absolute-position {
    display: block;
    position: absolute !important;
}
.fixed-position {
    display: block;
    position: fixed !important;
}

// Display
.block-level {
    display: block !important;
}
.inline-level {
    display: inline !important;
}
.inline-block {
    display: inline-block !important;
}
.nowrap {
    white-space: nowrap !important;
}
.hide {
    display: none !important;
}
.print-only {
    display: none !important;
}

// Alignment
.align {
    &-top {
        vertical-align: top;
    }
    &-bottom {
        vertical-align: bottom;
    }
}

// Sizes
.h {
    &-10 { height: 10% !important; }
    &-20 { height: 20% !important; }
    &-30 { height: 30% !important; }
    &-40 { height: 40% !important; }
    &-50 { height: 50% !important; }
    &-60 { height: 60% !important; }
    &-70 { height: 70% !important; }
    &-75 { height: 75% !important; }
    &-80 { height: 80% !important; }
    &-90 { height: 90% !important; }
    &-100 { height: 100% !important; }
}
.w {
    &-10 { width: 10% !important; }
    &-20 { width: 20% !important; }
    &-30 { width: 30% !important; }
    &-40 { width: 40% !important; }
    &-50 { width: 50% !important; }
    &-60 { width: 60% !important; }
    &-70 { width: 70% !important; }
    &-75 { width: 75% !important; }
    &-80 { width: 80% !important; }
    &-90 { width: 90% !important; }
    &-100 { width: 100% !important; }
}

// Specials
.cursor-disallow {
    cursor: not-allowed;
}
