/*
 * Type */

// Base body styles
body {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-wight: $font-weight-base;
}

// Links
a {
    // default link style
    color: $blue;
    text-decoration: none;
    &:hover,
    &:focus,
    &:active {
        color: $dark-blue;
        text-decoration: none;
    }

    // we're underlining links in <p> and <hX> tags
    p &, h1 &, h2 &, h3 & {
        border-bottom: .08em solid $blue;
        &:hover {
            border-bottom: .08em solid $dark-blue;
        }
    }

    // white links
    &.white-text {
        border-bottom: 1px solid #fff;
        &:hover {
            border-bottom: 1px solid $lightest-blue;
            color: $lightest-blue;
        }
    }
}

// Font families
.serif-font {
    font-family: $font-family-serif;
}
.sans-font {
    font-family: $font-family-sans-serif;
}

// Headers
h1,
h2,
h3,
h4 {
    font-weight: 400;
}

// h1: oversized page titles
h1 {
    font-family: $font-family-serif;
    font-size: 48px;
    margin: 0 0 25px;
}

// h2: section titles
h2 {
    font-family: $font-family-serif;
    font-size: 36px;
    margin: 25px 0;
}

// h3: paragraph titles in Brandon
h3 {
    color: #585858;
    font-family: $font-family-serif;
    font-size: 28px;
    line-height: 1.5em;
}

// h4: body-size titles, usually uppercase
h4 {
    font-family: $font-family-serif;
    font-size: 19px;

    &.bigger {
        font-size: 22px;
        line-height: 1.4em;
    }

    &.uppercase {
        text-transform: uppercase;
        line-height: 1.25em;
    }
}

// FIX
// h5: centered paragraph titles in Brandon
h5 {
    font-family: $font-family-serif;
    font-size: 32px;
    line-height: 1.0em;
    margin: 30px 0 20px;
}

// Paragraphs
p {
    margin: 0 0 20px;
    font-weight: 300;

    // larger text serving as a subtitle
    &.subhead {
        font-size: 21px;
        line-height: 32px;
    }

    // beefed up paragraph copy
    &.bigger {
        font-size: 18px;
    }

    // smaller text
    &.smaller {
        font-size: 14px;
    }
}

// Text Position
.centered-text {
    text-align: center;
}
.left-justified-text {
    text-align: left;
}
.right-justified-text {
    text-align: right;
}
.block-justified-text {
    text-align: justify;
}

// Text styles
.underlined {
    border-bottom: 1px solid #333;
    &.white-text { border-bottom-color: #fff; }
}
.bold-weight {
    font-weight: bold;
}
.uppercase {
    text-transform: uppercase;
}

// Small windows
@include mq-small {
    h2 {
        font-size: 21px;
    }
    p {
        &.bigger {
            font-size: 16px;
        }
    }
}

// Medium windows
@include mq-medium {
    p {
        &.bigger {
            font-size: 17px;
        }
    }
}

// Large windows
@include mq-large {
    h2 {
        font-size: 27px;
    }
    p {
        &.bigger {
            font-size: 17px;
        }
    }
}

// Extra large windows
@include mq-huge {
    h1 {
        font-size: 42px;
    }
}
