/*
 * Interstitials */

#interstitial {
    width: 100%;
    height: 100%;
    position: fixed;
    display: table;

    #inner {
        display: table-cell;
        margin: 25px 25px 75px;
        width: 100%;
        height: 100%;
        vertical-align: middle;
    }
}
