/*
 * Interstitials */

#interstitial {
    width: 100%;
    height: 100%;
    border-top: 8px solid rgba(0,0,0,.2);

    #outer {
        position: relative;
        display: table;
        height: 100%;
        width: 100%;
        font-size: 19px;
        vertical-align: middle;
        overflow: hidden;
        min-height: 600px;

        &.curve {
            &:before,
            &:after {
                width: 200%;
                height: 100%;
                position: absolute;
                left: -50%;
                bottom: 0;
                content: "";
                z-index: 0;
                border-radius: 50%;
                -webkit-backface-visibility: hidden;
            }
            &:after {
                background: #fff;
                background-size: 150%;
                background-position: 100% 0;
                transform: skewY(-3deg);
                height: 200px;
                bottom: -140px;
                //border-top: 3px solid darken( $dark-blue, 5% );
            }
            /*&:before {
                background: lighten( $blue, 12% );
                background-size: 150%;
                background-position: 100% 0;
                transform: skewY(3deg);
                height: 200px;
                bottom: -125px;
                //border-top: 1px solid lighten( $purple, 12% );
            }*/
        }
    }

    #inner {
        display: table-cell;
        vertical-align: middle;
        padding: 20px 0 30px;
    }

    footer {
        position: absolute;
        bottom: 20px;
        right: 25px;
        font-size: 14px;
        color: #666;
        z-index: 2;

        .footer-link {
            display: inline-block;
            padding: 0 0 0 10px;
        }
    }
}
